.Toy {
  border: 1px solid transparent;
}

.Toy h2
{
  text-align: center;
}


.Toy .img {
  max-width: 100%;
}

.Toy .description {
  display: flex;
  justify-content: space-between;
}
.Toy.selected {
  border-color: green;
}